/*||General Structure--------------------------------------------------------------------------------------------------*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	padding: 0;
}

/*||Colours-------------------------------------------------------------------------------------------------------------*/

:root {
	--clr-dark: rgb(0, 0, 0);
	--clr-light: rgb(255, 255, 255);
	--clr-accent: #0045ff;
	--clr-accent-light: #008dff;

	/*Colours with Alpha Values*/
	
	--clr-dark-transparent: rgba(0, 0, 0, 0.7);
	--clr-light-transparent: rgba(255, 255, 255, 0.5)
}

/*||Typography----------------------------------------------------------------------------------------------------------*/

h1, h1::before, h1::after {
	font-family: 'Cormorant Garamond', serif;
	margin: 0;
}

button	{
	font-family: sans-serif;
}


/*||Main----------------------------------------------------------------------------------------------------------------*/

.main-header {
	user-select: none; 
}

.main-header::before {
	content: "1023";
	font-size: 0.7em;
}

body { 
	background: url(assets/touring-background.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
	align-items: center;
}

/*Responsive Small Screen Backgound*/
@media screen and (max-width: 850px) {
  body {
   background: url(assets/touring-background2.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100vh;
  }

  h1 {
  	top: -6em;
  	margin-bottom: 1em;
  }

  button {
  	top: -4em;
  }
}

main {
	margin: 0 0 3em 0;
	text-align: center;
	color: var(--clr-light);
	font-size: 2em;
	text-shadow: 8px 8px 5px var(--clr-dark-transparent);
}

/* Responsive Logo Size */
@media screen and (min-width: 850px) {
  body {
    font-size: 2em;
  }
}

button {
	position: relative;

	border: none;
	background-color: var(--clr-accent-light);
	margin: 0;
	padding: 1em 2em;
	border-radius: 2em;
	text-transform: uppercase;
	font-size: ;
	transition: 0.2s ease-in-out;

}

.primary-btn::after {

	position: absolute;
    content: '';
    height: 5px;
    bottom: -1.5em; 
    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
		left: 0;
    right: 0;
		width: 50px;
	background: var(--clr-accent-light);
	transition: 0.5s ease;
}

.primary-btn:hover::after {
	background-color: var(--clr-accent);
}

button:hover {
	color: var(--clr-light);
	background-color: var(--clr-accent);
	cursor: pointer;
	box-shadow: none;
	transform: scale(1.05);
}



button:hover > a {
	transition: transition: 0.2s ease-in-out;
}

button:hover > a {
	color: var(--clr-light)
}

button > a {
	text-decoration: none;
	color: var(--clr-dark);

}

button::after {
	position: relative;
	height: 4px;
	width: auto;
	background-color: inherit;
}




/*||Footer--------------------------------------------------------------------------------------------------------------*/

footer {
	
	font-family: sans-serif;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: var(--clr-dark-transparent);
	display: grid;
	grid-template-columns: 3fr 1fr;
	justify-items: right;
}

footer i {
	padding: 10px 2vw 10px 2vw;
	font-size: 20px;
	transition: 0.1s;
	color: var(--clr-light);

}

footer nav {
	grid-column-start: 2;
	grid-column-end: 3;
	margin-right: 1em;
}

footer i:hover {
	transform: scale(1.08);
	color: var(--clr-accent-light);
}